<div class="tag-item">
	{% spaceless %}
	    <div>

			<section>

				<article>

					<p>Probably not visible right away, but the HTML tags should have<strong>no space</strong> now.</p>

				</article>

			</section>

	    </div>
	{% endspaceless %}
</div>