<div class="filter-item">
	<p>
		The capitalized version of &quot;{{ _capitalize1 }}&quot; is &quot;{{ _capitalize1 | capitalize }}&quot;
	</p>
	<p>
		and the capitalized version of &quot;{{ _capitalize2 }}&quot; is &quot;{{ _capitalize2 | capitalize }}&quot;
	</p>
</div>